body
  overflow-x: hidden
.header
  height: 100px
  width: 100%
  background: transparent
  border-bottom: 1px #5A5D61 solid
  position: fixed
  top: 0
  z-index: 50
  img
    float: left
  .header_wrapper
    width: 100%
    height: 100px
    display: flex
    align-items: center
    ul
      width: 100%
      height: 100%
      float: right
      display: flex
      justify-content: flex-end
      margin: 0
      padding: 0
      .li_wrapper
        display: flex
        align-items: stretch
      li
        align-items: center
        display: flex
        list-style-type: none
        a
          position: relative
          text-decoration: none
          text-transform: uppercase
          color: white
          padding: 20px
          font-size: 13px
          line-height: 60px
          &:hover:after
            position: absolute
            top: 47px
            left: 0
            opacity: 1
            width: 9px
            height: 2px
            background: #17bed2
            content: " "
            transition: .5s
          &:after
            position: absolute
            top: 47px
            left: 0
            opacity: 0
            width: 9px
            height: 2px
            background: #17bed2
            content: " "
            transition: .5s
.swiper-container
  width: 100%
  height: 650px
  .swiper-text
    position: absolute
    margin-top: 20%
    margin-left: 5%
    h1
      color: white
      font-size: 4em
      text-transform: uppercase
      font-family: 'Hind', sans-serif
      font-weight: 700
    h2
      color: white
      font-size: 4em
      text-transform: uppercase
      font-family: 'Hind', sans-serif
      font-weight: 700
    p
      font-size: 2em
      font-family: 'Hind', sans-serif
      color: gray
    .swiper-button
      cursor: pointer
      padding: 15px 25px
      background-color: transparent
      border: 1px gray solid
      &:hover
        background-color: white
        transition: .5s
        span
          color: gray
          font-weight: 600
          transition: .5s
          font-family: 'Hind', sans-serif
      span
        font-size: 13px
        font-weight: 600
        color: white
        text-transform: uppercase
        font-family: 'Hind', sans-serif




