<footer>
    <div class="links-form">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-2">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Products</a></li>
                        <li><a href="">Prising</a></li>
                        <li><a href="">Clients</a></li>
                        <li><a href="">Careers</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Terms</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-2">
                    <ul>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">YouTube</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-8">
                    <div class="form-wrapper">
                        <h3>Send Us A Note</h3>
                        <input type="text" placeholder="Name" required>
                        <input type="email" placeholder="E-mail" required>
                        <input type="text" placeholder="Phone" required>
                        <textarea rows="6" placeholder="Message" required></textarea>
                        <button>
                            submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 flex">
                    <img src="/img/logo.png" alt="">

                    <p><span>Asentus</span> Theme Powered by: <span>Artem Rozko</span></p>
                </div>
            </div>
        </div>
    </div>
</footer>