<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header_wrapper">
                    <img id="imageid" src="/img/logo.png" alt="">
                    <ul>
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        <div class="li_wrapper">
                            <li><a href="/index">home</a></li>
                            <li><a href="/prising">prising</a></li>
                            <li><a href="">about</a></li>
                            <li><a href="">products</a></li>
                            <li><a href="">faq</a></li>
                            <li><a href="">contact</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

