<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="header_wrapper">
                    <img id="imageid" src="/img/logo.png" alt="">
                    <ul>
                        <i id="i-button" class="fa fa-bars white" aria-hidden="true"></i>
                        <div class="li_wrapper">
                            <li><a href="/index.html">home</a></li>
                            <li><a href="/pricing.html">prising</a></li>
                            <li><a href="/about.html">about</a></li>
                            <li><a href="/products.html">products</a></li>
                            <li><a href="/faq.html">faq</a></li>
                            <li><a href="/contact.html">contact</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

