<div class="kit">
    <div class="container">
        <div class="row">
            <div class="flexer">
                <div class="item-wrap wow fadeInLeft col-xs-12 col-sm-12 col-md-4 " data-wow-delay=".3s">
                    <div class="flexer">
                        <div class="inner">
                            <div class="icon1"></div>
                            <h3>Starter Kit <span>- $</span> 49</h3>
                            <p>Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                            <ul class="features">
                                <li>
                                    <div class="chert"></div>
                                    Basic Features
                                </li>
                                <li>
                                    <div class="chert"></div>
                                    Up to 5 products
                                </li>
                                <li>
                                    <div class="chert"></div>
                                    50 Users Panels
                                </li>
                            </ul>
                            <button><a href="">choose</a></button>
                        </div>
                    </div>
                </div>
                <div class="item-wrap hight wow fadeIn col-xs-12 col-sm-12 col-md-4" data-wow-delay=".3s">
                    <div class="flexer">
                        <div class="inner">
                            <div class="icon2"></div>
                            <h3>Professional <span>- $</span> 149</h3>
                            <p>Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                            <ul class="features">
                                <li>
                                    <div class="chert"></div>
                                    Basic Features
                                </li>
                                <li>
                                    <div class="chert"></div>
                                    Up to 5 products
                                </li>
                                <li>
                                    <div class="chert"></div>
                                    50 Users Panels
                                </li>
                            </ul>
                            <button><a href="">choose</a></button>
                        </div>
                    </div>
                </div>
                <div class="item-wrap wow fadeInRight col-xs-12 col-sm-12 col-md-4" data-wow-delay=".3s">
                    <div class="flexer">
                        <div class="inner">
                            <div class="icon3"></div>
                            <h3>Advanced <span>- $</span> 249</h3>
                            <p>Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                            <ul class="features">
                                <li>
                                    <div class="chert"></div>
                                    Basic Features
                                </li>
                                <li>
                                    <div class="chert"></div>
                                    Up to 5 products
                                </li>
                                <li>
                                    <div class="chert"></div>
                                    50 Users Panels
                                </li>
                            </ul>
                            <button><a href="">choose</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>